{% extends "admin/base_site.html" %}

{% block content %}
<p>You are about to reject {{ claims|length }} bonus claim(s). Please provide a reason:</p>

<form method="post">
  {% csrf_token %}
  {% for claim in claims %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ claim.pk }}">
  {% endfor %}
  <input type="hidden" name="action" value="reject_bonus_codes">
  {{ form.reason.errors }}
  {{ form.reason }}
  <p>
    <input type="submit" name="apply" value="Reject" class="default">
    <a href="." class="button cancel-link">Cancel</a>
  </p>
</form>
{% endblock %}
